.wrapper {
  height: 100vh;
  width: 100vw;
}
header {
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: gold;
}
.content {
  height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-top: 2rem;
}
.cards-container {
  background-color: lightgray;
  width: 90%;
  display: grid;
  grid-template-columns: auto auto auto;
}
ul {
  padding: 30px;
}
